@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', 'sans-serif';
    user-select: none;
}

#container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75rem;
    min-width: 1500px;
    height: 30rem;
    min-height: 750px;
    background-color: #363636;

    box-sizing: border-box;
    border-radius: 3rem;
}

nav {
    width: 15rem;
    border-radius: 3rem 0 0 3rem;
    float: left;
    background-color: #1f1f1f;
    height: 100%;
    /* box-shadow: 0.2px 3px 3px black; */
}

.history-container {
    width: 15rem;
    border-radius: 0 3rem 3rem 0;
    float: right;
    background-color: #1f1f1f;
    height: 100%;
    /* box-shadow: 0.2px 3px 3px black; */
}

.history-container h1 {
    color: white;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    font-size: 25px;
    font-weight: 300;
}

.under-transaction-bar {
    width: 11rem;
    background-color: #5c5c5c;
    padding: 0.2px;
    border-radius: 10px;
    margin: auto;
}



ul {
    list-style: none;
}

a {
    margin: auto;
    width: 70%;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1.5vh 2rem;
    text-align: center;
}

li {
    margin-left: -2.5rem;
    width: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a:hover {
    background-color: #363636;
    border-radius: 5rem;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#bank-logo {
    width: 10rem;
    height: 10rem;
}
.logo p {
    color: #fff;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: -0.3rem;
    margin-left: 0.9rem;
}

.under-logo-bar {
    background-color: #5c5c5c;
    padding: 0.2px;
    border-radius: 10px;
    margin-left: -2.5rem;
}

.homepage {
    position: absolute;
    margin-left: 17.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.account-infos {
    position: absolute;
    background-color: #252525;
    width: 35rem;
    height: 32rem;
    border-radius: 2rem;
}

.account-infos h1, p {
    padding-top: 1rem;
    text-align: center;
}

.account-infos p {
    margin-top: -1.5rem;
    font-size: 2.5rem;
    color: green;
}




.card-display {
    padding-top: 1rem;
    background-image: url('../img/creditcard.jpeg');
    background-repeat: no-repeat;
    width: 25rem;
    height: 12.5rem;
    margin: auto;
    border-radius: 2rem;
}


.account-actions {
    margin-left: 38rem;
    position: absolute;
    background-color: #252525;
    width: 20rem;
    height: 32rem;
    border-radius: 2rem;
}


.account-action-deposit, .account-action-withdraw, .account-action-transfer {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    padding: 1.3rem 0 2.5rem 0;
}



.account-action-deposit a , .account-action-withdraw a, .account-action-transfer a {
    height: 100%;
    padding: 3.5rem 2rem;
    border-radius: 1.75rem;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.account-actions a:hover {
    border-radius: 2rem;
}

.account-id {
    width: 62%;
    position: absolute;
    background-color: #252525;
    margin: 40.5rem 17.5rem;
    border-radius: 2rem;
}

.account-id p {
    color: white;
    padding: 0.5rem;
}

.card-display .card-number, .card-display .card-name {
    padding-top: 2.4rem;
    color: white;
    font-size: 2rem;
    font-weight: 300;
}

.card-display .card-number {
    text-align: center;
    font-size: 2.5rem;
}

.card-display .card-name {
    margin-left: 0rem;
}

.card-display .card-name span {
    padding-left: 3.1rem;
}